* {
    margin: 0;
    font-family: Helvetica;
}

body {
    background: #fff;
}

ul, figure {
    margin: 0;
    padding: 0;
}

/* Display celular*/
@media screen and (max-width: 740px){
    main {
        padding: 120px 10px 10px 10px;
    }
}

/* Display Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    main {
        display: block;
        padding: 100px 10px 600px 40px;
    }
}

/* Display HD */
@media screen and (min-width: 1024px) and (max-width: 1679px) {
    main {
        display: block;
        padding: 120px 0rem;
        margin: auto 3%;
    }
}


/* Display FULL HD */
@media screen and (min-width: 1679px) {
    main {
        display: block;
        padding: 180px 0px 100px 40px;
        margin: 0px 0px 0px 40px;
    }
}