/* Display celular */
@media screen and (max-width: 739px) {
    .recomendadas {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        margin-top: 10px;
    }

    .recomendadas-img {
        width: 100%;
        height: 200px;
    }

    .noticia-title {
        font-size: 1.3rem;
    }

    .recomendadas-caption {
        font-size: 0.9rem;
        
    }

    p {
        font-size: 0.8rem;
    }

}

/* Displey tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {   
    .recomendadas {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        display: inline-block;
        width: calc((100% / 2) - 2.5%);
        margin: 1rem 4px 0px 0px; 
    }

    .recomendadas:nth-child(odd) {
        margin-left: 1rem;
    }

    .recomendadas figure img {
        vertical-align: bottom;
    }

    .recomendadas-img {
        width: 100%;
        height: 250px;
    }

    .noticia-title {
        font-size: 1.3rem;
    }

    .recomendadas-caption {
        font-size: 0.9rem;
        
    }

    p {
        font-size: 0.8rem;
    }
}

/* Displey desktop HD */
@media screen and (min-width: 1024px) and (max-width: 1679px) {
    .noticias-recomendadas {
        display: inline-block;
        width: 60%;
    }

    .recomendadas {
        display: inline-block;
        width: calc((100% / 2) - 2.5%);
        margin: 1rem 0.8rem 0px 0px;
        
    }

    .recomendadas-img {
        width: 100%;
        height: 250px;
    }

    .noticia-title {
        font-size: 1.5rem;
    }

    .recomendadas-caption {
        font-size: 1rem;
        
    }

    p {
        font-size: 1rem;
    }

}

/* adpatação para monitores Full HD */
@media screen and (min-width: 1680px) {
    .noticias-recomendadas {
        display: inline-block;
        width: 60%;
    }
    
    .recomendadas {
        display: inline-block;
        width: calc((100% / 2) - 2.5%);
        margin: 1rem 0.8rem 0px 0px;
        
    }
    
    .recomendadas-img {
        width: 100%;
        height: 350px;
    }
    
    .noticia-title {
        font-size: 3rem;
    }

    .recomendadas-caption {
        font-size: 2.1rem;
        
    }

    p {
        font-size: 2rem;
    }
}

/* Configurações Gerais */

.recomendadas {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-top: 10px;
}

.noticia-title{
    font-weight: 500;
    color: #2C3E50;
    margin-bottom: 0;
    margin-top: 20px;
}

.recomendadas-caption {
    margin: 0.5rem 0;
    font-weight: 500;
    color: #3498DB;
    text-transform: uppercase;
}

p {
    margin: 0.5rem 0;
    font-weight: 500;
    color: #2C3E50;
}
