/* Display celular */
@media screen and (max-width: 739px) {
    .arts-title {
        font-size: 1.2rem;
    }

    .art-img {
        height: 200px;
        width: 50%;
    }

    .art-artist {
        font-size: 0.8rem;
    }

    .art-content{
        margin: 10px 0;
    }
}

/* Display tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .arts-01 {
        margin-top: -500px;
        float: right;
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin-right: -4px;
    }

    .arts-02 {
        margin-top: -20px;
        display: inline-block;
        width: 45%;
    }

    .arts {
        display: inline;
        vertical-align: middle;
        float: right;
    }

    .art-img {
        height: 200px;
        width: 50%;
    }

    .art-artist {
        font-size: 0.8rem;
    }

    .art-content{
        margin: 10px 0;
    }
    
}

/* Display desktop HD */
@media screen and (min-width: 1024px) and (max-width: 1679px) {
    .arts {
        display: inline-block;
        float: right;
        width: 70%;
    }
    
    .arts-01 {
        display: inline-block;
        width: 43%;
        vertical-align: top;
        margin:0 -4px 0 2rem;
    }

    .arts-02 {
        display: inline-block;
        width: 45%;
        margin: 0;
    }

    .art {
        display: inline-block;
        vertical-align: middle;
    }

    .art-img {
        height: 180px;
        width: 50%;
    }

    .art-artist {
        font-size: 0.8rem;
    }

    .art-content{
        margin: 5px 8px 0 0;
    }
}

/* adpatação para monitores Full HD */
@media screen and (min-width: 1680px) {
    .arts {
        display: inline-block;
        float: right;
        width: 60%;
    }
    
    .arts-01 {
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    .arts-02 {
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    .art {
        display: inline-block;
        vertical-align: middle;
    }
    
    .art-img {
        width: 40%;
        height: 180px;
    }

    .art-artist {
        font-size: 1.2rem;
    }

    .art-description {
        padding: 1rem 1rem;
    }

    .art-content{
        margin: 5px 4rem 0 0;
    }

}

/* Configurações Gerais */
.arts-title {
    color: #E74C3C;
    margin: 3rem 0 0 0 ;
}

.art-img {
    display: inline-block;
    margin-top: 5px;
}

.art-content {
    position: relative;
    left: 12px;
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.art-artist {
    color: #E74C3C;
    text-transform: uppercase;
}

.art-description {
    color: #2C3E50;
    font-size: 1rem;
    font-weight: normal;
}